Package: com.yaowell.cowbellx
Name: CowbellX
Depends: mobilesubstrate, firmware (>= 15.0)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: CC LowPowerModule battery percentage
Maintainer: yaowell
Author: yaowell
Section: Tweaks
